body{
	background-color: #fafafa;
}

img.logo {
    width:272px;
    margin:0 auto;
    text-align: center;
    display: block;
}

#search {
	text-align: center;
}

input.main {
	width: 488px;
	height: 40px;
	border: none;
    color: #888;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px 3px 3px 18px;
    font-size: 30px;
    line-height:15px;
    box-shadow: 0px 0px 2px #e6e6e6, 0px 1px 2px #e6e6e6;
    -moz-box-shadow: 0px 0px 2px #e6e6e6, 0px 1px 2px #e6e6e6;
    -webkit-box-shadow: 0px 0px 2px #e6e6e6, 0px 1px 2px #e6e6e6;

}